<html>
{{> sections/header}}

{{> sections/nav}}

<body>
    <div class="container overflow-hidden">
        <div class="jumbotron jumbotron-fluid">
            <h2>Edit a new Dish</h2>
        </div>

</body>

</html>