{{> sections/header}}

<body>
    {{> sections/nav}}
    <div class="container">
        <div class="jumbotron jumbotron-fluid">
            <div class="text-center">
                <h1>{{title}}</h1>
                <p>Here is what we offer at Caley Street with Variety of dishes for everyone in Glasgow</p>
            </div>
        </div>
        <!--grid section-->
        <!--First Row-->
        <div class="row">
            <div class="col">
                <a href="#" target="_blank"><img src="/elements/gallery/dips.jpg" alt="dish" width="300"
                        height="300"></a>
                <figcaption>Assortment of Dips</figcaption>
            </div>
            <div class="col">
                <a href="#" target="_blank"><img src="/elements/gallery/burger.jpg" alt="dish" width="300" height="300"></a>
                <figcaption>Beef Burger</figcaption>
            </div>
            <div class="col">
                <a href="#" target="_blank"><img src="/elements/gallery/fries.jpg" alt="dish" width="300" height="300"></a>
                <figcaption>Fries</figcaption>
            </div>
        </div>
        <br>
        <!--2nd Row-->
        <div class="row">
            <div class="col">
                <a href="#" target="_blank"><img src="/elements/gallery/salad.jpg" alt="dish" width="300" height="300"></a>
                <figcaption>Fresh Salad</figcaption>
            </div>
            <div class="col">
                <a href="#" target="_blank"><img src="/elements/gallery/wings.jpg" alt="dish" width="300" height="300"></a>
                <figcaption>Chicken Wings</figcaption>
            </div>
            <div class="col">
                <a href="#" target="_blank"><img src="/elements/gallery/soft-drinks.jpg" alt="dish" width="300" height="300"></a>
                <figcaption>Assortment of Soft Drinks</figcaption>
            </div>
        </div>
        <br>

        <!--3rd Row-->
        <div class="row">
            <div class="col">
                <a href="#" target="_blank"><img src="/elements/gallery/milkshakes.jpg" alt="dish" width="300" height="300"></a>
                <figcaption>Strawberry Milkshake</figcaption>
            </div>
            <div class="col">
                <a href="#" target="_blank"><img src="/elements/gallery/food-sign.jpg" alt="dish" width="300" height="300"></a>
                <figcaption>'Eat what make you happy' - Food sign</figcaption>
            </div>
            <div class="col">
                <a href="#" target="_blank"><img src="/elements/gallery/wraps.jpg" alt="dish" width="300" height="300"></a>
                <figcaption>Wraps</figcaption>
            </div>
        </div>

    </div>
    <!--grid section-->

</body>
{{> sections/footer}}