<html>

{{> sections/header}}

<body>
    {{> sections/nav}}
            <!-- -->
            <h1>{{title}}</h1>
    <div class="container">

        <div class="col text-center">
                <!--Login section -->
        <div class="text-right" style="margin-bottom: 1em;">
            {{^user}}
            <a id="login" href="/login" class="btn btn-primary">
                Sign in
            </a>

            {{/user}}
            {{#user}}
            <a id="logout" href="/logout" class="btn btn-primary">
                Sign out
            </a>
            {{/user}}
        </div>
        <div class="text-right">
            <a href="/new" class="btn btn-primary">
                Staff Area
            </a>
        </div>
        <!--Login section
            <h1>Caley Street</h1> -->
            <img src="/elements/Caley-Street-bg.png" alt="banner" width="1000" height="400">
        </div>
        <div class="row">
            <div class="col-sm">
                <h3>“Great place fantastic food”</h3>
                <p>Amazing Burger, the wing platter is incredible.
                    fries curry with the milkshake was banging!</p>
                <img src="\elements\Star-gold.png" alt="star">
                <img src="\elements\Star-gold.png" alt="star">
                <img src="\elements\Star-gold.png" alt="star">
                <img src="\elements\Star-gold.png" alt="star">
                <img src="\elements\Star-grey.png" alt="star-grey">
            </div>
            <div class="col-sm">
                <h3>"Amazing"</h3>
                <p>Staff were friendly and welcoming. The food was amazing and took care handling of any peanut dishes
                    for us. </p>
                <img src="\elements\Star-gold.png" alt="star">
                <img src="\elements\Star-gold.png" alt="star">
                <img src="\elements\Star-gold.png" alt="star">
                <img src="\elements\Star-grey.png" alt="star-grey">
                <img src="\elements\Star-grey.png" alt="star-grey">
            </div>
            <div class="col-sm">
                <h3>"We keep coming backss"</h3>
                <p>It was very good food, customer service also fantastic , while my family enjoying food specially
                    wraps was extremely nice , I highly recommend to visit</p>
                <img src="\elements\Star-gold.png" alt="star">
                <img src="\elements\Star-gold.png" alt="star">
                <img src="\elements\Star-gold.png" alt="star">
                <img src="\elements\Star-gold.png" alt="star">
                <img src="\elements\Star-gold.png" alt="star">
            </div>
        </div>
    </div>

    {{#entries}}
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">{{subject}}</h4>
            <p class="card-text">
                {{contents}}
            </p>
            <div class="card-footer">
                Written by <a href="/posts/{{author}}">{{author}}</a> , on {{published}}
            </div>
        </div>
        {{/entries}}

        {{^entries}}
        No entries yet.
        {{/entries}}
</body>
{{> sections/footer}}
</html>