<html>
{{> sections/header}}
{{> sections/nav}}

<body>

    <div class="container overflow-hidden ">
        <div class=" jumbotron jumbotron-fluid text-center text-white" style="background-color: #A14C4C; opacity: 1;">

            <h1>{{title}}</h1>
        </div>

        <!--Layout for each dish-->
        {{#dishes}}
        <div class=" card">
            <div class="card-body">
                <h4 class="card-title">{{DishName}}</h4>
                <p class="card-text">
                    {{DishDescription}}
                </p>
                <p class="card-text">
                    {{DishIngredients}}
                </p>
                <div class="card-footer">
                    {{DishPrice}}
                </div>
            </div>
            {{/dishes}}
            <!--Display when no dishes are shown-->
            {{^dishes}}
            <p>No dishes yet.</p>
            {{/dishes}}
        </div>
    </div>

</body>
{{> sections/footer}}

</html>