<html>
{{> sections/header}}
{{> sections/nav}}

<body>

    <!--container section-->
    <div class="container overflow-hidden">
        <!--jumbotron section-->
        <div class="jumbotron jumbotron-fluid text-center">
            <h2>Add a new Dish</h2>


            <div class="text-right" style="margin-bottom: 1em;">
                {{^user}}
                <a id="login" href="/login" class="btn btn-primary"
                    style="background-color: #A14C4C; border-color:#A14C4C;">
                    Sign in
                </a>
                {{/user}}
                {{#user}}

                <a id="logout" href="/logout" class="btn btn-primary"
                    style="background-color: #A14C4C; border-color:#A14C4C;">
                    Sign out
                </a>
                {{/user}}
                <!--go back btn-->
                <a href="/staff" class="btn btn-primary" style="background-color: #A14C4C; border-color:#A14C4C;">
                    Staff Area
                </a>
            </div>

        </div>
        <!--jumbotron section-->
        <!--form section-->
        <form method="post" role="form" action="/new">
            <div class="form-group">
                <label for="DishName">Dish Name</label>
                <input type="text" class="form-control" id="DishName" name="DishName" placeholder="Enter a Dish Name"
                    required>
            </div>
            <div class="form-group">
                <label for="DishDescription">Dish Description</label>
                <input type="text" class="form-control" id="DishDescription" name="DishDescription"
                    placeholder="Enter a description" rows="3" required>
            </div>
            <div class="form-group">
                <label for="DishIngredients">Dish ingredients</label>
                <input type="text" class="form-control" id="DishIngredients" name="DishIngredients"
                    placeholder="Enter the ingredients" rows="3" required>
            </div>
            <div class="form-group">
                <label for="DishPrice">Dish Price</label>
                <input type="number" class="form-control" id="DishPrice" name="DishPrice" placeholder="Enter the price" rows="3"
                    required>
            </div>
            <div class="form-group">
                <input type="submit" value="Post entry" class="btn btn-primary"
                    style="background-color: #A14C4C; border-color:#A14C4C;">
            </div>
        </form>
        <!--form section-->
    </div>
    <!--container section-->
</body>