<html>
{{> sections/header}}

{{> sections/nav}}

<body>

    <div class="container"> 
        <div class="jumbotron jumbotron-fluid text-white text-center" style="background-color: #A14C4C; border-color:#A14C4C;" >
            <h1>{{title}}</h1>
        </div>

        <a href="/new" class="btn btn-primary" style="background-color: #A14C4C; border-color:#A14C4C;"  >
            Add Dish
        </a>

        <a href="/deleteEntry" class="btn btn-primary" style="background-color: #A14C4C; border-color:#A14C4C;" >
            Delete Dish
        </a>
        <a href="/editEntry" class="btn btn-primary" style="background-color: #A14C4C; border-color:#A14C4C;"  >
            Edit Dish
        </a>
        <a href="/menu" class="btn btn-primary" style="background-color: #A14C4C; border-color:#A14C4C;" >
            View menu
        </a>
    </div>

</body>